<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="LOGS">./logs/Ticket-System.Api/${date:yyyyMM}/${date:yyyyMMdd}</Property>
        <Property name="SUFFIX_LOG_FILE">${hostName}.log</Property>
        <Property name="SUFFIX_ARCHIVE_LOG_FILE">${hostName}-%d{yyyyMMdd}-%i.log</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%clr{%d}{dark,green} %clr{%highlight{%5p}} %clr{${sys:PID}}{magenta} %clr{---}{faint} %clr{[%15.15t]}{faint} %clr{%-40.40c{1.}}{cyan} %clr{:}{faint}%4.4L: %m%n%xwEx"/>
        </Console>

        <RollingRandomAccessFile name="RollingFile" fileName="${sys:LOGS}/application-${sys:SUFFIX_LOG_FILE}" filePattern="${sys:LOGS}/application-${sys:SUFFIX_ARCHIVE_LOG_FILE}" immediateFlush="false" bufferSize="128">
            <PatternLayout>
                <pattern>%d ${hostName} %p %c [%t] %m%n%throwable</pattern>
            </PatternLayout>
            <Policies>
                <!-- rollover on startup, daily and when the file reaches  10 MegaBytes -->
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="ErrorRollingFile" fileName="${sys:LOGS}/error/application-error-${sys:SUFFIX_LOG_FILE}" filePattern="${sys:LOGS}/error/application-error-${sys:SUFFIX_ARCHIVE_LOG_FILE}" immediateFlush="true">
            <PatternLayout>
                <pattern>%d ${hostName} [%t] %p %c.%M.%l %m%n%throwable</pattern>
            </PatternLayout>
            <Policies>
                <!-- rollover on startup, daily and when the file reaches  10 MegaBytes -->
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="RollingFilePerformnace" fileName="${sys:LOGS}/performance/performance-${sys:SUFFIX_LOG_FILE}" filePattern="${sys:LOGS}/performance/performance-${sys:SUFFIX_ARCHIVE_LOG_FILE}" immediateFlush="true">
            <PatternLayout>
                <pattern>%d ${hostName} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <!-- rollover on startup, daily and when the file reaches  10 MegaBytes -->
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <Logger name="com.aia.apps.one.aop" level="info" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFilePerformnace"/>
        </Logger>
        <!-- LOG everything at INFO level -->
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
            <AppenderRef ref="ErrorRollingFile" level="warn"/>
        </Root>

        <!-- LOG "com.mytest.project*" at TRACE level -->
        <Logger name="org.springframework.boot.autoconfigure" level="warn" />
        <Logger name="org.springframework.context" level="warn" />
        <Logger name="org.springframework.beans" level="warn" />
        <Logger name="org.springframework.core" level="warn" />
        <Logger name="org.apache.tomcat.util.scan.StandardJarScanner" level="warn" />
        <Logger name="org.hibernate.type.descriptor.sql" level="debug" />
        <Logger name="org.hibernate.metamodel" level="ERROR" />
        <Logger name="org.springframework.context.support" level="warn" />
        <Logger name="org.springframework.security.web" level="warn" />
        <Logger name="springfox" level="error" />
        <Logger name="org.hibernate" level="warn" />
        <Logger name="com.zaxxer.hikari" level="warn" />
        <Logger name="org.apache.catalina.core.AprLifecycleListener" level="warn" />
    </Loggers>

</Configuration>